<div class="sidebar sidebar-left" id="searchContainer">    
    <div class="sidebar-group">
        <ul id="filterTabs" class="nav nav-tabs">
            <li [ngClass]="{'active':selectedTabName==='sites'}"><a (click)="selectTab('sites')">Search Sites</a></li>
            <li [ngClass]="{'active':selectedTabName==='projects'}"><a (click)="selectTab('projects')">Search Projects</a></li>
        </ul>
        <div>
            <div id="sitesTab" *ngIf="selectedTabName==='sites'">
                <div id="sitesContent">
                    <h2>Enter at least one search term.</h2>
                    <div>
                        <label>Parameters:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="parameterMulti" (ngModelChange)="multiChange('parameters', $event)" [settings]="multiSettings" [(ngModel)]="parameterSelected"></ss-multiselect-dropdown>                            
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Parameter-->   

                    <div>
                        <label>Project Duration:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="projDurationMulti" (ngModelChange)="multiChange('duration', $event)" [(ngModel)]="projDurationSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Duration-->   

                    <div>
                        <label>Project Status:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="projStatusMulti" (ngModelChange)="multiChange('status', $event)" [(ngModel)]="projStatusSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Status-->  

                    <div>
                        <label>Resource Component:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="resourceMulti" (ngModelChange)="multiChange('resource', $event)" [(ngModel)]="resourseSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Resource-->  

                    <div>
                        <label>Media:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="mediaMulti" (ngModelChange)="multiChange('media', $event)" [(ngModel)]="mediaSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Media-->  

                    <div>
                        <label>Great Lake:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="lakeMulti" (ngModelChange)="multiChange('lake', $event)" [(ngModel)]="lakeSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Lake-->  

                    <div>
                        <label>State/Province:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="stateMulti" (ngModelChange)="multiChange('state', $event)" [(ngModel)]="stateSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Lake-->  

                    <div>
                        <label>Monitoring effort or coordination:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="monitorEffortMulti" (ngModelChange)="multiChange('monitorEffort', $event)" [(ngModel)]="monitorEffortSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Lake-->  

                </div><!--end sitesContent-->
                <div>
                    <button (click)="clearSiteFilters()" style="color:black;">Clear All</button>
                    <button (click)="searchSites()" style="color:black;">Search</button>
            </div><!-- end sitesTab-->
            <div id="projectsTab" *ngIf="selectedTabName==='projects'">
                <div id="projectContent">
                    <h2>something about PROJECTS</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                </div>
            </div>                                
        </div>
    </div>
</div>