<div class="sidebar sidebar-left" id="sidebar"> <!--searchContainer">    -->
    <accordion>
        <accordion-group #group1>
            <div accordion-heading>Basemaps
                <i class="pull-right float-xs-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': group1?.isOpen, 'glyphicon-chevron-right': !group1?.isOpen}"></i>
            </div>
            This is just some content to illustrate fancy headings.
        </accordion-group>
        <accordion-group #group2>
            <div accordion-heading>Filters
                <i class="pull-right float-xs-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': group2?.isOpen, 'glyphicon-chevron-right': !group2?.isOpen}"></i>
            </div>
            <div><!-- accordion-body for filters -->
                <h3>Current Filters</h3>
                <button type="button" class="btn btn-primary" (click)="showChildModal()">Open child modal</button>
                
            </div>
        </accordion-group>        
    </accordion>
    <!--<div class="sidebar-group">
        <ul id="filterTabs" class="nav nav-tabs">
            <li [ngClass]="{'active':selectedTabName==='sites'}"><a (click)="selectTab('sites')">Search Sites</a></li>
            <li [ngClass]="{'active':selectedTabName==='projects'}"><a (click)="selectTab('projects')">Search Projects</a></li>
        </ul>
        <div>
            <div id="sitesTab" *ngIf="selectedTabName==='sites'">
                <div id="sitesContent">
                    <h2>Enter at least one search term.</h2>
                    <div>
                        <label>Parameters:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="parameterMulti" (ngModelChange)="siteFilterChange('parameters', $event)" [(ngModel)]="parameterSelected"></ss-multiselect-dropdown>                            
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Parameter

                    <div>
                        <label>Project Duration:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="projDurationMulti" (ngModelChange)="siteFilterChange('duration', $event)" [(ngModel)]="projDurationSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Duration

                    <div>
                        <label>Project Status:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="projStatusMulti" (ngModelChange)="siteFilterChange('status', $event)" [(ngModel)]="projStatusSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Status

                    <div>
                        <label>Resource Component:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="resourceMulti" (ngModelChange)="siteFilterChange('resource', $event)" [(ngModel)]="resourseSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Resource

                    <div>
                        <label>Media:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="mediaMulti" (ngModelChange)="siteFilterChange('media', $event)" [(ngModel)]="mediaSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Media

                    <div>
                        <label>Great Lake:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="lakeMulti" (ngModelChange)="siteFilterChange('lake', $event)" [(ngModel)]="lakeSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Lake

                    <div>
                        <label>State/Province:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="stateMulti" (ngModelChange)="siteFilterChange('state', $event)" [(ngModel)]="stateSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end State

                    <div>
                        <label>Monitoring effort or coordination:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="monitorEffortMulti" (ngModelChange)="siteFilterChange('monitorEffort', $event)" [(ngModel)]="monitorEffortSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Monitoring

                    <div>
                        <button (click)="clearSiteFilters()" style="color:black;">Clear All</button>
                        <button (click)="searchSites()" style="color:black;">Search</button>
                    </div>
                </div><!--end sitesContent
            </div><!-- end sitesTab
            <div id="projectsTab" *ngIf="selectedTabName==='projects'">
                <div id="projectContent">
                    <div class="paddingBottom">
                        <label>Search by project name:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <select [(ngModel)]="selectedProject" (ngModelChange)="onProjectSelect($event)" name="project">
                                    <option [ngValue]="p" *ngFor="let p of projectList">{{p.name}}</option>
                                </select>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Project Name
                    <hr />
                    <div>
                        <label>Organization:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <select [(ngModel)]="selectedOrg" (ngModelChange)="projectMultiChange('org', $event)" name="organization">
                                    <option [ngValue]="o" *ngFor="let o of organizationList">{{o.organization_name}}</option>
                                </select>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Organizations 

                    <div>
                        <label>Monitoring effort or coordination:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="monitorEffortMulti" (ngModelChange)="projectFilterChange('monitorEffort', $event)" [(ngModel)]="p_monitorEffortSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Monitoring

                    <div>
                        <label>Project Objective:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="objectiveMulti" (ngModelChange)="projectFilterChange('objective', $event)" [(ngModel)]="objectiveSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Objective

                    <div>
                        <label>Project Duration:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="projDurationMulti" (ngModelChange)="projectFilterChange('duration', $event)" [(ngModel)]="p_durationSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Duration

                    <div>
                        <label>Project Status:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="projStatusMulti" (ngModelChange)="projectFilterChange('status', $event)" [(ngModel)]="p_statusSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Status

                     <div>
                        <label>Great Lake:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="lakeMulti" (ngModelChange)="projectFilterChange('lake', $event)" [(ngModel)]="p_lakeSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end Lake

                    <div>
                        <label>State/Province:</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <ss-multiselect-dropdown [options]="stateMulti" (ngModelChange)="projectFilterChange('state', $event)" [(ngModel)]="p_stateSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>
                        <br clear="all"/>
                    </div>  <!-- end State
                    <div>
                        <button (click)="clearProjectFilters()" style="color:black;">Clear All</button>
                        <button (click)="searchProjSites()" style="color:black;">Search</button>
                    </div>
                </div>
            </div><!-- end projectTab
        </div>
    </div>-->
</div>