
    <div bsModal #childModal="bs-modal" [config]="{backdrop: 'static', keyboard: false, ignoreBackdropClick:'true'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Filters</h4>
                   <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div class="modal-body">
                    <div id="sitesContent">
                        <div class="row">                           
                            <label class="col-xs-3">Parameters:</label>                            
                            <div class="col-xs-6">
                                <ss-multiselect-dropdown [options]="parameterMulti" (ngModelChange)="siteFilterChange('parameters', $event)" [(ngModel)]="parameterSelected"></ss-multiselect-dropdown>                            
                            </div>                            
                        </div>  <!-- end Parameter-->

                        <div class="row">
                            <label class="col-xs-3">Project Duration:</label>
                            <div class="col-xs-6">
                                <ss-multiselect-dropdown [options]="projDurationMulti" (ngModelChange)="siteFilterChange('duration', $event)" [(ngModel)]="projDurationSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>  <!-- end Duration-->

                        <div class="row">
                            <label class="col-xs-3">Project Status:</label>
                            <div class="col-xs-6">
                                <ss-multiselect-dropdown [options]="projStatusMulti" (ngModelChange)="siteFilterChange('status', $event)" [(ngModel)]="projStatusSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>  <!-- end Status-->

                         <div class="row">
                            <label class="col-xs-3">Resource Component:</label>
                            <div class="col-xs-6">
                                <ss-multiselect-dropdown [options]="resourceMulti" (ngModelChange)="siteFilterChange('resource', $event)" [(ngModel)]="resourseSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>  <!-- end Resource-->

                        <div class="row">
                            <label class="col-xs-3">Media:</label>                            
                            <div class="col-xs-6">
                                <ss-multiselect-dropdown [options]="mediaMulti" (ngModelChange)="siteFilterChange('media', $event)" [(ngModel)]="mediaSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>  <!-- end Media-->

                        <div class="row">
                            <label class="col-xs-3">Great Lake:</label>                            
                            <div class="col-xs-6">
                                <ss-multiselect-dropdown [options]="lakeMulti" (ngModelChange)="siteFilterChange('lake', $event)" [(ngModel)]="lakeSelected"></ss-multiselect-dropdown>
                            </div>
                        </div>  <!-- end Lake-->

                        <div class="row">
                            <label class="col-xs-3">State/Province:</label>
                        <div class="col-xs-6">
                            <ss-multiselect-dropdown [options]="stateMulti" (ngModelChange)="siteFilterChange('state', $event)" [(ngModel)]="stateSelected"></ss-multiselect-dropdown>
                        </div>
                    </div>  <!-- end State-->

                    <div class="row">
                        <label class="col-xs-3">Monitoring effort or coordination:</label>
                        <div class="col-xs-6">
                            <ss-multiselect-dropdown [options]="monitorEffortMulti" (ngModelChange)="siteFilterChange('monitorEffort', $event)" [(ngModel)]="monitorEffortSelected"></ss-multiselect-dropdown>
                        </div>
                    </div>  <!-- end Monitoring-->                      
                </div>
                    
                <div class="row">
                    <label class="col-xs-3">Organization:</label>
                    <div class="col-xs-6">
                        <select class="form-control" [(ngModel)]="selectedOrg" (ngModelChange)="siteFilterChange('org', $event)" name="organization">
                            <option value=""></option>
                            <option [ngValue]="o" *ngFor="let o of organizationList">{{o.organization_name}}</option>
                        </select>
                    </div>
                </div>  <!-- end Organizations -->

                <div class="row">
                    <label class="col-xs-3">Project Objective:</label>
                    <div class="col-xs-6">
                        <ss-multiselect-dropdown [options]="objectiveMulti" (ngModelChange)="siteFilterChange('objective', $event)" [(ngModel)]="objectiveSelected"></ss-multiselect-dropdown>
                    </div>
                </div>  <!-- end Objective-->
                <hr />
                <div class="padding">                            
                    <div class="row">
                        <label class="col-xs-3">Search by project name:</label>
                        <div class="col-xs-6">
                            <select class="form-control" [(ngModel)]="selectedProject" (ngModelChange)="onProjectSelect($event)" name="project">
                                <option [ngValue]="p" *ngFor="let p of projectList">{{p.name}}</option>
                            </select>
                        </div>
                    </div>
                    <br clear="all"/>
                </div>  <!-- end Project Name-->
                                        
            </div><!-- end modal-body-->
            <div class="modal-footer">
                <button (click)="clearFilters()" style="color:black;">Clear All</button>
                <button (click)="searchSites()" style="color:black;">Search</button>
            </div>
        </div> <!-- end modal-content -->
    </div> <!-- end modal-dialog-->
</div> <!-- end bs-modal -->
