<nav id="header" class="navbar nav-default navbar-fixed-top" role="navigation">
    <div id="usgsLogoDiv" class="navbar-header">
        <img id="usgsLogo" alt="USGS Logo" src="images/usgsLogo.png" /><!--</a>-->
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div id="title">SiGL</div>
        <div id="titleSeparator">:</div>
        <div id="subTitle">Science in the Great Lakes TEST</div>        
    </div>
</nav>

<div id="map">
    <!--<navigator></navigator>
    <toolbar></toolbar>-->
    <siglfilters></siglfilters>
</div>
